@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html, body{
    scroll-behavior: smooth;
    background-color: #1a1a1a;
    background-image: url('../src/backgroundMain.jpg');
    overflow-x: hidden;
}

/* Header da Página */

header{
    position: absolute;
    width: 100vw;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    background-color: rgb(26, 26, 26, 0.3);
    z-index: 9999;
}

header nav{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav #navBar{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

header nav #navBar li, a{
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    margin-block: 20px;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.1s ease;
}

header nav #navBar li:hover{
    transform: scale(1.2);
}

/* Logo */

header h1{
    margin-left: -150px;
    color: #fff;
    font-size: 2.2rem;
    cursor: default;
}

header h1::selection{
    background-color: chartreuse;
}

/* Conteúdo Principal */

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main button{
    width: 10vw;
    height: 7vh;
    margin-top: 520px;
    margin-right: 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: 0.1s ease;
}

main button a{
    color: #000;
    text-decoration: none;
    padding-block: 20px;
    padding-inline: 13px;
}

main button a:hover{
    color: #fff;
}

main button:hover{
    background-color: rgb(0, 0, 0);
    scale: 1.1;
}